<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script>
var auth_url = '<%= authorize_url %>';

$.oauthpopup = function(options)
{
    options.windowName = options.windowName ||  'ConnectWithOAuth'; // should not include space for IE
    options.windowOptions = options.windowOptions || 'location=0,status=0,width=400,height=660';
    options.callback = options.callback || function(){ window.location.reload(); };
    var that = this;
    console.log(options.path);
    that._oauthWindow = window.open(options.path, options.windowName, options.windowOptions);
    that._oauthInterval = window.setInterval(function(){
        if (that._oauthWindow.closed) {
            window.clearInterval(that._oauthInterval);
            options.callback();
        }
    }, 1000);
};

function Auth3l(rcDemo) {
    var t=this;
    t.authorize = function() {
        var urltoopen = '<%= authorize_url %>';
        $.oauthpopup({
            path: urltoopen,
            callback: function()
            {
                console.log('callback');
            }
        });
    }
}

var oauth = new Auth3l();

		</script>
	</head>
	<body>
		<h1>3-Legged OAuth 2.0 Demo</h1>
		<p>To run this demo use the following command:</p>
		<p>$ ruby oauth.rb</p>
		<p><input type="button" onclick="oauth.authorize()" value="Login with RingCentral"></p>
		<p>Authorization URL: <%= authorize_url %></p>
		<p>Redirect URL: <%= redirect_uri %></p>
	</body>
</html>