<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<style>
pre {overflow-x: scroll;}
		</style>
	</head>
	<body>
		<h1>3-Legged OAuth 2.0 Demo Authorization Redirect and Code Exchange</h1>

		<h2>Authorization Code</h2>

		<pre><%= code %></pre>

		<h2>Access Token</h2>
		<pre><%= token %></pre>
	</body>
</html>