RC_APP_KEY=myAppKey
RC_APP_SECRET=myAppSecret
RC_APP_SERVER_URL=myRcApiServerUrl
RC_APP_REDIRECT_URL=myRcApiRedirectUrl

RC_USER_USERNAME=myUsername
RC_USER_EXTENSION=myExtension
RC_USER_PASSWORD=myPassword

RC_DEMO_FAX_PAGES=2
RC_DEMO_FAX_TO=demoFaxToPhoneNumber
RC_DEMO_FAX_FROM=demoFaxFromPhoneNumber
RC_DEMO_FAX_FROM_NAME=RingForce
RC_DEMO_FAX_TO_NAME=ACME Motors
RC_DEMO_FAX_COVERPAGE_TEXT=Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
RC_DEMO_FAX_FILEPATH=./asset_file.pdf
RC_DEMO_FAX_COVERPAGE_TEMPLATE=view_coverpage.handlebars
